.navigation-header {
    background-image: url(test_website\static\src\pexels-pixabay-33109.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(73, 51, 153);
    padding: 0 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
  }
  .navigation-items {
    display: nones;
     flex-direction: column;
      text-align: center;
      position: absolute;
      right: 0;
      top: 58px;
      background-color: black;
      width: 100%;
      height: calc(100vh - 58px);
      padding-top: 60px;
      gap: 10vh;
      list-style: none;
  }
  .navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
  }
  .navigation-items > a:hover {
    color: white;
  }
  .hamburger {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: white;
    cursor: pointer;
  }
  .hamburger #closeHam {
      display: none;
      cursor: pointer;
    }
 
  